@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/Merriweather-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/Merriweather-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/Merriweather-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/Merriweather-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/Merriweather-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/Merriweather-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/Merriweather-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/Merriweather-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body,
html {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background: black;
  color: white;
}

.App {
  --gap: 8px;
  --matte: #f7f7f7;
  --hover-matte: #f0f0f0;
  --active-matte: #e0e0e0;
  --surface: #e7e7e7;
  --background: white;
  --selected: rgba(0, 0, 0, 0.1);
  --foreground: #666;
  --border: rgba(0, 0, 0, 0.05);
  --highlight: #555;
  --highlight-text: #eee;
  --link: #00f;
  --border-radius: 4px;
  --sidebar-width: 300px;
  --side-pad: 1rem;
  /* like ease-in */
  --slide-in: transition-timing-function: cubic-bezier(0.75, 0, 1, 1);
  /* like ease-out */
  --slide-out: transition-timing-function: cubic-bezier(0, 0, 0.1, 1);

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  color: var(--foreground);
  position: fixed;
  width: 100%;
  background: var(--background);
}

@media (prefers-color-scheme: dark) {
  .App {
    --background: black;
    --matte: #222;
    --hover-matte: #444;
    --surface: #666;
    --background: black;
    --foreground: #ddd;
    --border: rgba(255, 255, 255, 0.2);
    --selected: rgba(255, 2550, 255, 0.2);
    --link: #77f;
  }
}

@supports (padding: max(0px)) {
  .App {
    padding-left: max(0vmin, env(safe-area-inset-left));
    padding-right: max(0vmin, env(safe-area-inset-right));
  }
}

.App a {
  color: var(--link);
}

.App-header {
  background: var(--matte);
  position: relative;
  z-index: 1;
}

.App-content {
  height: 100%;
  max-width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  background: var(--background);
}

.App-sidebar {
  background: var(--highlight);
  color: var(--highlight-text);
  width: var(--sidebar-width);
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translate3d(calc(-1 * var(--sidebar-width)), 0, 0);
  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: var(--slide-in);
}

.App-sidebar[data-visible="true"] {
  transform: translate3d(0, 0, 0);
  transition-duration: 200ms;
  transition-timing-function: var(--slide-out);
}

.App-sidebar-feeds {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
}

.App-sidebar-controls {
  display: flex;
  justify-content: center;
}

.App-sidebar-settings {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  margin: 1rem;
  margin-top: 0.5rem;
}

.App-articles {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

/* Mobile */
@media only screen and (max-width: 800px) {
  #root {
    --sidebar-width: 100%;
  }
}
