body,
html {
  padding: 0;
  margin: 0;
}

.App {
  --gap: 8px;
  --background: white;
  --selected: rgba(0, 0, 0, 0.2);
  --foreground: black;
  --border: rgba(0, 0, 0, 0.2);
  --highlight: #ded;
  --link: #00f;

  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background: var(--background);
  color: var(--foreground);
}

.App a {
  color: var(--link);
}

.App-header {
  background: var(--background);
}

.App-content {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.App-content > * {
  max-height: 100%;
  overflow: auto;
}

.App-sidebar {
  --default-width: 300px;
  background: var(--highlight);
  width: var(--default-width);
}

.Header {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  align-items: center;
  border-bottom: solid 1px var(--border);
  padding: 8px 16px;
}

.Header h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  justify-self: start;
}

.Header-buttons {
  justify-self: center;
  display: flex;
  flex-direction: row;
}

.Header-show-feeds {
  display: none;
}

.Header-user {
  justify-self: right;
}

.Feeds {
  list-style-type: none;
  padding: 16px;
  margin: 0;
}

.Feeds-group {
  padding: 0.25rem;
  display: flex;
  align-items: center;
}

.Feeds ul {
  list-style-type: none;
  padding: 0;
}

.Feeds-feed {
  padding: 0.25rem 1.25rem;
}

.Feeds-expander::before {
  content: '○';
  display: inline-block;
  width: 1em;
}

.Feeds-group,
.Feeds-feed {
  cursor: pointer;
}

.Feeds ul {
  display: none;
}

.Feeds-expanded ul {
  display: initial;
}

.Feeds-expanded .Feeds-expander::before {
  content: '●';
}

.Feeds-group:hover,
.Feeds-feed:hover {
  background: rgba(0, 0, 0, 0.1);
}

.Articles {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.Article {
  border-bottom: solid 1px var(--border);
}

.Article-heading {
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  line-height: 1.25em;
  cursor: default;
}

.Article-selected .Article-heading {
  background: var(--selected);
}

.Article-age {
  flex-shrink: 0;
  margin-left: 2rem;
  color: #999;
}

.Article-content {
  padding: 16px 32px;
  overflow: auto;
}

.Article-content h1 {
  margin-top: 0;
}

.Article-content p,
.Article-content li {
  line-height: 1.3em;
  margin: 1em 0;
}

.Article-content img {
  max-width: 100% !important;
  height: auto !important;
  margin: 1rem 0;
}

.Article-content .feedflare {
  display: none;
}

@media only screen and (max-width: 600px) {
  .App-sidebar {
    position: absolute;
    left: calc(-1 * var(--default-width));
    top: 0;
    bottom: 0;
    transition: left 0.25s ease-in-out;
  }

  .App-sidebar[data-active="true"] {
    left: 0;
  }

  .Header-show-feeds {
    display: initial;
  }
}

@media (prefers-color-scheme: dark) {
  .App {
    --background: black;
    --foreground: #ddd;
    --highlight: #353;
    --border: rgba(255, 255, 255, 0.2);
    --selected: rgba(255, 2550, 255, 0.2);
    --link: #77f;
  }
}

