@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/Merriweather-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/Merriweather-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/Merriweather-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/Merriweather-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/Merriweather-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/Merriweather-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/Merriweather-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/Merriweather-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100vh;
  background: black;
}

#root {
  height: 100vh;

  --gap: 8px;
  --matte: #f7f7f7;
  --hover-matte: #f0f0f0;
  --background: white;
  --selected: rgba(0, 0, 0, 0.1);
  --foreground: #666;
  --border: rgba(0, 0, 0, 0.05);
  --highlight: #555;
  --highlight-text: #eee;
  --link: #00f;
}

@supports (padding: max(0px)) {
  .App {
    padding-left: max(0vmin, env(safe-area-inset-left));
    padding-right: max(0vmin, env(safe-area-inset-right));
  }
}

.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background: var(--matte);
  color: var(--foreground);
}

.App a {
  color: var(--link);
}

.App-header {
  background: var(--background);
}

.App-content {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: var(--background);
}

.App-content > * {
  max-height: 100%;
  overflow: auto;
}

.App-sidebar {
  --default-width: 250px;
  background: var(--highlight);
  color: var(--highlight-text);
  width: var(--default-width);
}

.Header {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  align-items: center;
  border-bottom: solid 1px var(--border);
}

.Header h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  justify-self: start;
  padding: 8px 16px;
}

.Header-buttons {
  justify-self: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.Header-show-feeds {
  display: none;
}

.Header-user {
  justify-self: right;
  padding: 8px 16px;
}

.Feeds {
  list-style-type: none;
  padding: 16px;
  margin: 0;
}

.Feeds-group {
  padding: 0.25rem;
  padding-right: 0.5rem;
  display: flex;
  align-items: center;
}

.Feeds-selected {
  background: rgba(255, 255, 255, 0.1);
}

.Feeds-title {
  flex-grow: 1;
}

.Feeds ul {
  list-style-type: none;
  padding: 0;
}

.Feeds-feed {
  padding: 0.25rem 0.5rem 0.25rem 1.25rem;
  display: flex;
  flex-direction: row;
}

.Feeds-expander::before {
  content: '○';
  display: inline-block;
  width: 1em;
  flex-grow: 0;
}

.Feeds-group,
.Feeds-feed {
  cursor: pointer;
}

.Feeds ul {
  display: none;
}

.Feeds-expanded ul {
  display: initial;
}

.Feeds-expanded .Feeds-expander::before {
  content: '●';
}

.Feeds-group:hover,
.Feeds-feed:hover {
  background: rgba(0, 0, 0, 0.1);
}

.Articles {
  width: 100%;
}

.Articles-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Articles-controls,
.Articles-empty {
  padding: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Article {
  border-bottom: solid 1px var(--border);
}

.Article-heading {
  display: grid;
  grid-template-columns: 100px 1fr 80px auto;
  align-items: center;
  line-height: 1.25em;
  cursor: default;
  gap: 1em;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.Article-active .Article-heading {
  background: var(--matte);
}

.Article-read .Article-heading {
  opacity: 0.5;
}

.Article-selected .Article-heading {
  background: var(--selected);
}

.Article-feed {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 90%;
  color: #999;
  padding: 8px 16px;
}

.Article-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Article-age {
  font-size: 90%;
  text-align: right;
  color: #999;
}

.Article-menu {
  padding: 8px 16px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.Article-container {
  display: flex;
  flex-direction: column;
  padding: 16px 32px;
  margin: 0 auto;
  max-width: 800px;
}

.Article-content-header {
  text-decoration: none;
  font-weight: bold;
  font-size: 200%;
}

a.Article-content-header {
  color: var(--foreground);
}

.Article-content {
  overflow: auto;
  font-size: 16px;
  font-family: Merriweather, serif;
  font-weight: 300;
  line-height: 1.5em;
}

.Article-content > :first-child {
  margin-top: 0;
}

.Article-content h1 {
  margin-top: 0;
}

.Article-content figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Article-content p {
  margin: 0.75em 0;
}

.Article-content li {
  margin: 0.5em 0;
}

.Article-content table {
  margin: 1em auto;
}

.Article-content table td {
  padding: 0 0.5em;
}

.Article-content aside {
  margin: 1.5em 0;
  font-size: 125%;
}

.Article-content q {
  font-style: italic;
  color: #999;
  margin: 0 64px;
  display: block;
}

.Article-content blockquote {
  font-style: italic;
}

.Article-content img {
  max-width: 100% !important;
  height: auto !important;
}

.Article-content > img {
  margin: 1rem 0;
}

.Article-content .feedflare {
  display: none;
}

/* from tor.com feeds */
.Article-content .ebook-links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  gap: 1rem;
}
.Article-content .ebook-links img,
.Article-content .ebook-links li {
  margin: 0;
}
.Article-content .squib .alignleft {
  margin: 0;
  margin-right: 1em;
  float: left;
}

.Article-actual {
  border: solid 1px var(--border);
  border-radius: 12px;
  margin: 1rem 32px;
  height: 600px;
}

.ContextMenu {
  font-family: sans-serif;
  position: absolute;
  background: var(--background);
  color: var(--foreground);
  border: solid 1px var(--border);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  visibility: hidden;
}

.ContextMenu-visible {
  visibility: visible;
}

.ContextMenu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  min-width: 100px;
}

.ContextMenu li {
  padding: 0.5rem;
  cursor: pointer;
  white-space: nowrap;
}

.ContextMenu li:hover {
  background: var(--matte);
}

.Button {
  background: var(--matte);
  color: var(--foreground);
  font-size: 14px;
  padding: 0.75em 1em;
  border: solid 1px var(--border);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.Button:hover {
  background: var(--hover-matte);
}

.Button-large {
  padding: 0.75em 1em;
  font-size: 18px;
}

.Button-small {
  padding: 0.25em 0.5em;
  font-size: 12px;
}


@media only screen and (max-width: 1200px) {
  .App-content {
    grid-template-columns: 1fr;
  }

  .App-sidebar {
    position: absolute;
    z-index: 2;
    left: calc(-1 * var(--default-width));
    top: 0;
    bottom: 0;
    transition: left 0.25s ease-in-out;
  }

  .App-sidebar[data-active='true'] {
    left: 0;
  }

  .Header-show-feeds {
    display: initial;
  }

  .Header h1 {
    cursor: pointer;
  }

  .Article-content-header {
    padding: 0 16px;
  }

  .Article-content {
    padding: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  #root {
    --matte: #222;
    --hover-matte: #444;
    --background: black;
    --foreground: #ddd;
    --border: rgba(255, 255, 255, 0.2);
    --selected: rgba(255, 2550, 255, 0.2);
    --link: #77f;
  }
}
