@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply text-[24px] md:text-[20px] xl:text-[16px];
	}
	body {
		@apply text-sm text-black;
	}
	h1 {
		@apply text-3xl sm:text-4xl font-black;
	}
	h2 {
		@apply text-xl sm:text-2xl font-bold;
	}
	h3 {
		@apply text-lg sm:text-xl font-bold;
	}
	h4 {
		@apply sm:text-lg font-bold;
	}
	h5 {
		@apply sm:text-lg;
	}
	h6 {
		@apply font-semibold;
	}
}

*:focus {
	outline: none;
}

#app {
	height: 100%;
	width: 100%;
	position: relative;
}
