/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.absolute-center {
		@apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
	}
}

@layer base {
	html {
		@apply text-[20px] sm:text-[16px];
	}
	body {
		@apply text-sm text-black;
	}
	h1 {
		@apply text-3xl font-black sm:text-4xl;
	}
	h2 {
		@apply text-xl font-bold sm:text-2xl;
	}
	h3 {
		@apply text-lg font-bold sm:text-xl;
	}
	h4 {
		@apply font-bold sm:text-lg;
	}
	h5 {
		@apply sm:text-lg;
	}
	h6 {
		@apply font-semibold;
	}
}

@layer components {
	/** Disable the iOS context menu */
	.no-callout {
		-webkit-touch-callout: none;
	}
}

*:focus {
	outline: none;
}

#app {
	height: 100%;
	width: 100%;
	position: relative;
}
