@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply text-sm text-black;
	}
	h1 {
		@apply text-4xl font-black;
	}
	h2 {
		@apply text-2xl font-bold;
	}
	h3 {
		@apply text-xl font-bold;
	}
	h4 {
		@apply text-lg font-bold;
	}
	h5 {
		@apply text-lg;
	}
	h6 {
		@apply font-semibold;
	}
}

*:focus {
	outline: none;
}

#app {
	height: 100%;
	width: 100%;
	position: relative;
}
