/*
.Activity {
  width: 40px;
  height: 40px;
  background-color: var(--highlight);
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
*/

.Activity {
  --on: #fff;
  --off: var(--matte);
  --time: 2s;
  width: 48px;
  height: 48px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Activity svg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Activity svg .inner {
  fill: var(--off);
  stroke: transparent;
}

.Activity svg .middle {
  fill: var(--off);
  stroke: transparent;
}

.Activity svg .outer {
  fill: var(--off);
  stroke: transparent;
}

.Activity svg .outer {
  animation: cycle var(--time) ease 0.66s infinite;
}

.Activity svg .middle {
  animation: cycle var(--time) ease 0.33s infinite;
}

.Activity svg .inner {
  animation: cycle var(--time) ease 0s infinite;
}

@keyframes cycle {
  0% {
    fill: var(--off);
  }

  40% {
    fill: var(--on);
  }

  80% {
    fill: var(--off);
  }
}
