.Article {
  display: none;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
  background-color: var(--background);
}

.Article-scroller {
  overflow-y: auto;
}

.Article-header {
  font-weight: bold;
  font-size: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: stretch;
  padding-left: 5%;
  padding-right: 5%;
}

.Article-header,
.Article-content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.Article-header a {
  color: var(--foreground);
  text-decoration: none;
  display: block;
  margin: 1rem 0;
  flex-grow: 1;
}

.Article-header h2 {
  margin: 0;
}

.Article-header-clickable {
  cursor: pointer;
}

.Article-close {
  display: none;
}

.Article-content {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 16px;
  font-family: Merriweather, serif;
  font-weight: 300;
  padding-bottom: 3rem;
  line-height: 1.5em;
}

.Article-content h1 {
  margin-top: 0;
}

.Article-content figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
}

.Article-content figcaption {
  font-style: italic;
  opacity: 0.7;
}

.Article-content cite {
  font-size: 90%;
}

.Article-content p {
  margin: 0.75em 0;
}

.Article-content pre {
  overflow-x: auto;
}

.Article-content li {
  margin: 0.5em 0;
}

.Article-content table {
  margin: 1em auto;
}

.Article-content table td {
  padding: 0 0.5em;
}

.Article-content aside {
  margin: 1.5em 0;
  font-size: 125%;
}

.Article-content q {
  font-style: italic;
  color: #999;
  margin: 0 64px;
  display: block;
}

.Article-content blockquote {
  font-style: italic;
}

.Article-content * {
  max-width: 100% !important;
}

.Article-content img {
  height: auto !important;
  border-radius: 6px;
  margin: 2rem 0;
}

.Article-content .image,
.Article-content figure {
  margin: 2rem 0;
}

.Article-content .image img,
.Article-content figure img {
  margin: 0;
}

.Article-content .feedflare {
  display: none;
}

.Article-content .center {
  text-align: center;
}

/* from tor.com feeds */
.Article-content .ebook-links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  gap: 1rem;
}
.Article-content .ebook-links img,
.Article-content .ebook-links li {
  margin: 0;
}
.Article-content .squib .alignleft {
  margin: 0;
  margin-right: 1em;
  float: left;
}

.Article-visible {
  display: flex;
}

@media only screen and (max-width: 1000px) {
  .Article-content blockquote {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .Article {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    transform: translate3d(100vw, 0, 0);
    transition-property: transform;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
  }

  .Article-visible {
    transform: translate3d(0, 0, 0);
  }

  .Article-close {
    cursor: pointer;
    background: var(--matte);
    border: solid 1px var(--border);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 2rem;
    height: 2rem;
    bottom: 0.5rem;
    right: 0.5rem;
  }
}
