.Articles {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  width: var(--sidebar-width);
  flex-shrink: 0;
  border-right: solid 1px var(--border);
}

.Articles-loading {
  height: 100%;
  display: flex;
  align-items: center;
}

.Articles-list {
  list-style-type: none;
  width: 100%;
  table-layout: fixed;
  padding: 0;
  margin: 0;
}

.Articles-article {
  --vertical-pad: 0.5rem;
  padding: 0 calc(var(--side-pad) - var(--vertical-pad));
  display: grid;
  grid-template-columns: 32px auto 3em min-content;
  align-items: top;
  min-height: 2.25rem;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  grid-template-columns: 32px auto 3em;
}

.Articles-controls,
.Articles-empty {
  padding: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Articles-active {
  background: var(--matte);
}

.Articles-read {
  color: #999;
}

.Articles-selected {
  background: var(--selected);
}

.Articles-icon {
  padding: var(--vertical-pad);
  width: 16px;
}

.Articles-icon img {
  max-width: 16px;
  max-height: 16px;
  vertical-align: middle;
}

.Articles-monogram {
  border: solid 1px var(--border);
  background: var(--matte);
  border-radius: var(--border-radius);
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.Articles-title {
  padding: var(--vertical-pad);
}

.Articles-age {
  font-size: 90%;
  text-align: right;
  color: #999;
  white-space: nowrap;
  padding: var(--vertical-pad);
}

@media (hover: hover) {
  .Articles-article:hover:not(.Articles-selected) {
    background: var(--matte);
  }
}

/* Mobile */
@media only screen and (max-width: 800px) {
  .Articles {
    width: 100%;
  }
}

/* Narrow desktop */
@media only screen and (max-width: 1000px) {
  .Articles-title {
    white-space: normal;
    padding: 0.5rem 0;
  }
}
