.ContextMenu {
  font-family: sans-serif;
  position: absolute;
  background: var(--background);
  color: var(--foreground);
  border: solid 1px var(--border);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  visibility: hidden;
}

.ContextMenu-visible {
  visibility: visible;
}

.ContextMenu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  min-width: 100px;
}

.ContextMenu li {
  padding: 0.5rem;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

@media (hover: hover) {
  .ContextMenu li:hover {
    background: var(--matte);
  }
}
