.Feeds {
  list-style-type: none;
  padding: 1rem;
  margin: 0;
  --hpad: 0.5rem;
  --vpad: 0.25rem;
  --expander-width: 1rem;
}

.Feeds-selected {
  background: rgba(255, 255, 255, 0.1);
}

.Feeds-group,
.Feeds-feed {
  border-radius: var(--border-radius);
}

.Feeds-expanded .Feeds-group.Feeds-selected {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.Feeds-expanded .Feeds-feed.Feeds-selected:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.Feeds ul {
  list-style-type: none;
  padding: 0;
}

.Feeds-feed {
  display: flex;
  flex-direction: row;
}

.Feeds-group {
  display: flex;
  align-items: center;
}

.Feeds-group > *,
.Feeds-feed > * {
  padding: var(--vpad) var(--hpad);
}

.Feeds-feed {
  /* padding is size of expander + expander padding */
  padding-left: calc(var(--expander-width) + 2 * var(--hpad));
}

.Feeds-expander::before {
  content: '▷';
  display: inline-block;
  flex-grow: 0;
  width: var(--expander-width);
}

.Feeds-title {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Feeds-group,
.Feeds-feed {
  cursor: pointer;
}

.Feeds ul {
  display: none;
}

.Feeds-expanded ul {
  display: initial;
}

.Feeds-expanded .Feeds-expander::before {
  content: '▽';
}

@media (hover: hover) {
  .Feeds-group:hover,
  .Feeds-feed:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}
