body,
html {
	padding: 0;
	margin: 0;
	height: 100vh;
	height: -webkit-fill-available;
	background: black;
	color: white;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

body {
	--gap: 8px;
	--matte: #f7f7f7;
	--hover-matte: #f0f0f0;
	--active-matte: #e0e0e0;
	--surface: #e7e7e7;
	--background: white;
	--selected: rgba(0, 0, 0, 0.1);
	--foreground: #666;
	--border: rgba(0, 0, 0, 0.15);
	--highlight: #555;
	--highlight-text: #eee;
	--link: #00f;
	--border-radius: 4px;
	--sidebar-width: 300px;
	--side-pad: 1rem;
	--font-size: 14px;
}

@media (prefers-color-scheme: dark) {
	body {
		--matte: #222;
		--hover-matte: #444;
		--active-matte: #555;
		--surface: #666;
		--background: black;
		--foreground: #ddd;
		--border: rgba(255, 255, 255, 0.2);
		--selected: rgba(255, 2550, 255, 0.2);
		--link: #77f;
	}
}

@media only screen and (max-width: 800px) {
	body {
		--sidebar-width: 100%;
		--font-size: 18px;
	}
}

*:focus {
	outline: none;
}

a {
	color: var(--link);
}

input {
	background: var(--hover-matte);
	border: solid 1px var(--border);
	border-radius: var(--border-radius);
	font-size: var(--font-size);
	color: var(--foreground);
	margin: 0;
	padding: 4px;
}

button {
	background: var(--hover-matte);
	border: solid 1px var(--border);
	border-radius: var(--border-radius);
	color: var(--foreground);
	font-size: var(--font-size);
	padding: 4px 6px;
	margin: 0;
}

button:active {
	background: var(--active-matte);
}
